<article>
  <header>
    <h1><%= link_to post.title, post.path %></h1>
    <small>
      <time datetime="<%= post.published_at.iso8601 %>" pubdate><%= post.published_at.to_formatted_s(:long_ordinal) %></time>
      <ul class="tags">
        <% post.tags.each do |tag| %>
          <li><%= link_to tag.name, tag.path %></li>
        <% end %>
      </ul>
    </small>
  </header>
  <div><%= @body || post.summary %></div>
</article>