<article>
  <header>
    <h1><%= link_to post.title, post.path %></h1>
    <small>
      <time datetime="<%= post.published_at.iso8601 %>" pubdate><%= l(post.published_at, format: :long) %></time>
      <ul class="tags">
        <% post.tags.each do |tag| %>
          <li><%= link_to tag.name, tag.path %></li>
        <% end %>
      </ul>
    </small>
  </header>
  <div><%= @body || post.summary %></div>
  <% if !@body %>
    <div><%= link_to "Read more", post.path %></div>
  <% end %>
</article>