<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Louis-Alban KIM</title>
  <meta name="description" content="<%= yield :description %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container main">
    <a id="logo" href="/"><%= image_tag("logo.png") %></a>
    <div id="titles">
      <h1><a href="/">Louis-Alban KIM</a></h1>
      <h2>iOS and Ruby developer</h2>
    </div>
    <ul id="links">
      <li><a href="https://twitter.com/louisalbankim" target="_blank">Follow me on Twitter</a></li>
      <li><a href="http://github.com/lakim" target="_blank">Fork me on Github</a></li>
      <li><a href="mailto:louis@kimkode.com">Contact me</a></li>
    </ul>
  </header>
  <section class="container main">
    <%= yield %>
  </section>
  <nav>
    EXPLORE
    <ul>
      <% Tag.all.each do |tag| %>
        <li><%= link_to tag.name, tag.path %></li>
      <% end %>
    </ul>
  </nav>
  <footer>
    Louis-Alban KIM<br/>I'm an iOS/Ruby developer and entrepreneur.
  </footer>
</body>
</html>
