<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - kimkode</title>
  <meta name="description" content="<%= yield :description %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container main">
    <a id="logo" href="/"><%= image_tag("logo.png") %></a>
    <h1><a href="/">kimkode</a></h1>
    <h2>iOS and Ruby developer</h2>
    <a id="twitter" href="https://twitter.com/louisalbankim" target="_blank">Follow me on Twitter</a>
  </header>
  <section class="container">
    <%= yield %>
  </section>
</body>
</html>
